
ul {
  list-style: none;
  margin: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu-aim {
  max-width: 200px;
  position: relative;
}

.menu-aim__item {
  background-color: gray;
}

.menu-aim a {
  display: block;
  color: blue;
}

.menu-aim__item:hover {
  color: white;
  background-color: rgba(0, 0, 255, 0.473);
}

.menu-aim__item--active {
  background-color: blue !important;
}

.menu-aim__item--active>a {
  color: white !important;

}

.menu-container {
  position: relative;
  max-width: 200px;
}

.menu-aim__item-submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 200px;
  background-color: antiquewhite;
}

.menu-aim__item--active .menu-aim__item-submenu {
  display: block;
}

.menu-aim__item-submenu--active {
  display: block;

}
